body {
    padding-top: 15px;
}

button:focus {
    outline:0 !important;
}

td p {
    margin: 0;
}

/* CUSTOM BOOTSTRAP STUFF*/
h3 {
    border-bottom: 1px solid #eaecef;
    overflow: hidden;
}

.col-m-t {
    margin-top: 15px;
}

.spacer {
    margin-top: 15px;
}

/* END*/

.date-format {
    text-decoration: underline;
}

div.dataTables_wrapper div.dataTables_filter label {
    text-align: right;
}

.form-control {
    height:36.4px !important;
}

.content {
    width: 100%;
    height: 250px !important;
}

.container-data-wrapper {
    margin-left: 15px;
}

.container-data-index {
    padding:10px;
    background-color: #f8f9fa;
    border: 1px solid lightgrey;
    display: inline-block;
}

.index-title {
    text-align: center;
    font-weight: bold;
}

.index-number {
    padding-right:5px;
    text-decoration: none;
    color: #636b6f;
}

.container-data-index ul {
    margin-bottom: 0;
    padding-left: 0;
}

.container-data-index ul ul {
    padding-left: 15px;
}

.container-data-index li {
    list-style: none;
}

.container-data-wrapper table {
    background-color: #f8f9fa;
}

.container-data-wrapper th {
    text-align: center;
    text-decoration: underline;
}

.table {
    margin-bottom: 0;
}

.half {
    width: 50%;
}

#notificatio {
    position: absolute;
    right: 0;
    top: 13%;
    width: 15%;
}

.block {
    padding-left: 0;
}

.form-inline label, .form-inline {
    display: inherit !important;
}

table.dataTable {
    border-collapse: collapse !important;
}

.panel, .panel-heading, .panel-body, .panel-footer,
.input-group, .input-group-btn, .input-group-addon,
.btn, .alert, .dropdown-menu, .form-control,
.modal-dialog, .modal-body, .modal-header,
.modal-footer, .modal, .modal-content {
    border-radius: 0;
}

.panel-body h2 {
    margin-top: 0;
    border-bottom: 1px solid #eaecef;
}

.sidebar-menu {
    padding: 0;
}

.sidebar-menu .list-group-item {
    border: 0;
}

.sidebar-menu:last-child {
    border-bottom: 1px solid black;
}

.sidebar-menu .list-group {
    margin-bottom: 0;
}

.search-result {
    margin-bottom: 15px;
}

.search-result:last-child {
    margin-bottom: 0;
}

label {
    width: 100%;
}

/* Firefox displays the input a bit to small*/
.form-control {
    height: 36.4px;
}

.default-avatar {
    background-color: #1f648b;
    width: 80px;
    height: 80px;
    border: 1px solid #d3e0e9;
}

.big-avatar {
    width: 120px;
    height: 120px;
}

.user-table, .realm-table, .index-table {
    table-layout: fixed;
    width: 100%;
}

.profile-contact-data {
    margin-bottom: 15px;
}

.profile-contact-data div:first-of-type,
.profile-genral-data div:first-of-type,
.profile-description div:first-of-type {
    text-decoration: underline;
}

.btn-empty {
    border: 0;
    background-color: transparent;
}

.non-link a {
    color: inherit;
}

.object-parent div:first-of-type,
.realm-description div:first-of-type,
.realm-player div:first-of-type,
.open-realm div:first-of-type {
    text-decoration: underline;
}

.open-realm {
    padding-top: 15px;
}

.object-description, .object-description-short {
    margin-bottom: 15px;
}

.form-control.default-edit-block {
    height: 300px;
}

.form-control.small-edit-block {
    height: 100px;
}

.title-box {
    width: 80%;
}

/* ### CHECKBOX STYLE ### */
.checkbox label {
    padding-left: 0;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.news-container:not(:last-of-type) {
    margin-bottom: 25px;
}

.alert-dismissable .close, .alert-dismissible .close {
    top: -.75rem;;
}

.notification-panel:last-of-type {
    margin-bottom:0;
}

.notification-panel:not(last-of-type) {
    margin-bottom:15px;
}

.list-group-min {
    margin:0;
}

.notification-news {
    background-color: #d1ecf1;
}

.notification-access-granted {
    background-color: #d4edda;
}

.notification-access-lost {
    background-color: #f8d7da;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.caret {
    display: none;
}

#input-group-btn {
    width: 25%;
}

.known-card {
    margin-top: 15px;
}

.known-card:first-of-type {
    margin-top: 0;
}

.description-box {
    margin-top: 15px;
}

.card-title {
    margin-top: 0;
}