/*GENERAL */
body {
    background-color: rgba(247,247,249,0.35);
}

label {
    font-weight: 600;
}

#app {
    padding-left:15px;
    padding-right:15px;
}

#results {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
}

.spacer {
    width:100%;
    border-bottom: 1px solid #eaecef;
    margin-bottom: 15px;
}

.bootstrap-select {
    width:100% !important;
}

.text-normal {
    font-weight: normal !important;
}

.form-control, .btn, .card {
    border-radius: 0;
    -webkit-box-shadow: 0 0 2px 0 rgba(239,239,241,1);
    -moz-box-shadow: 0 0 2px 0 rgba(239,239,241,1);
    box-shadow: 0 0 2px 0 rgba(239,239,241,1);
}

h2 {
    border-bottom: 1px solid #eaecef;
}

h3 {
    margin-top: 22px;
    margin-bottom: 11px;
    border-bottom: 1px solid #eaecef;
    overflow: hidden;
    line-height: 1.5em;
}

label {
    width: 100%;
}

textarea {
    padding: 0.5em;
}

.btn {
    cursor: pointer;
}

.error {
    border: 1px solid #dc3545 !important;
}

/* NAVIGATION */
.navbar {
    padding-left:0;
    padding-right:0;
}

.navbar-dark {
    background-color: #263238;
}

.navbar-brand {
    font-size: 1em !important;
    padding: 0;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}

.logout {
    padding: 0 !important;
    color: inherit;
    display: inline;
    text-decoration: none;
}

.logout span {
    color: inherit;
}

/* HEADER */
.header {
    background-color: #263238;
    color: white;
    padding: 8px 0 8px 0;
    margin-bottom: 15px !important;
}

/* SEARCH*/
.search-box {
    margin-top: 30px !important;
    text-align: center;
}

.search-group {
    margin-bottom: 5px;
}

/* CARD */
.pointer {
    margin-bottom: 15px;
    cursor: pointer;
}

.pointer:hover {
    background-color: #eaecef;
}

/* FOOTER */
.footer {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.footer-body {
    border-top: solid 1px #eaecef !important;
    padding-top: 15px;
    margin-top: 15px;
    text-align: center;
}

/* ITEM */
.container-data-wrapper {
    margin-left: 15px;
}

.container-data-wrapper th {
    text-align: center;
    text-decoration: underline;
    background-color: #F5F5F5;
}

/* PAGINATON */
.pager {
    text-align: center !important;
    width: 100% ;
}

/* BOOTSTRAP SELECT */
.dropdown-toggle,
.bootstrap-select,
.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    background-color: inherit !important;
    color: inherit;
    /*border: 1px solid rgba(0,0,0,.15);*/
}

.dropdown-toggle:hover,
.bootstrap-select:hover {
    color: inherit;
}

.dropdown-menu .inner {
    max-height: 200px !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    overflow: hidden;
}

.bootstrap-select>.dropdown-toggle {
    width: 100% !important;
}

/* ADMIN */
.dash {
    text-align: center;
}

.dash:hover {
    background-color: #eaecef;
}

.dash-upper {
    margin-bottom: 15px;
}

.dash-lower {
    margin-top:15px;
}

#item-table > .pager > .row {
    margin: 0 -15px 0 -15px !important
}

/* PARTY */
.container-data-index {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #d3d3d3;
    display: inline-block;
}

.container-data-index ul {
    margin-bottom: 0;
    padding-left: 0;
}

.container-data-index li {
    list-style: none;
}

.index-title {
    text-align: center;
    font-weight: bold;
}